<h1><%= post.name %></h1>
        <img src="<%= post.image %>" alt = "<%= post.name %>">
        <a href = "/posts/<%= post._id %>/edit">Edit</a>
        <form method="POST" action="/posts/<%= post._id %>/delete">
            <button>Delete</button>
        </form>
<p><%= post.description %></p>